@import url("https://fonts.googleapis.com/css2?family=Caladea&family=Roboto&display=swap");


#logo {
 
  width: 200px;
}
.header {
  text-align: center;
  background-color: #5a7d7c;
  color: #dadff7;
}
h2 {
}
.left-align {
  text-align: left;
  font-style: ;
  }

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto;
  color: #5a7d7c;
}
.h1 { font-family: Roboto;
  color: #5a7d7c;
  
  height: 50px 
}}
.h2 {
  text-align: center;
  color: #5a7d7c;

}
hr {
  height: 3px;
  margin: 35px 0;
  background-color: black;
}
header {
  padding: 1em;
  text-align: center;
  color: #5a7d7c;
  background-color: var(#5a7d7c);
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #cecece;
  }
}
header > h1,
header > h2 {
  color: var( #dadff7;);
}

p {
  font-family: var(Caladea, Helvetica, sans-serif);
  color: var(#5a7d7c);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td {
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(#5a7d7c);
}
.secondary {
  background-color: var(#dadff7);
}
.accent1 {
  background-color: #232c33;
}
.accent2 {
  background-color: #ac7b84;
}

p.colored {
  background-color: #5a7d7c;
  color: var(#dadff7);
}

nav {
  
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link,
nav a:visited {
  color: #dadff7;
}
nav a:hover {
  color: #232c33;
  background-color: #ac7b84;
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas:
    ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
footer { 
  background-color: #5a7d7c;
  color:#dadff7;
  padding: 25px 50px;
  margin-top: 200px;
display: flex;
justify-content: space-around;
align-items: center;
    
  
}
#smile {
  width: 300px;
  border: #ac7b84;
  border-style: solid;
  border-width: 10px;
  
}
#client {
  width:300px;
  border: #ac7b84;
  border-style: solid;
  border-width: 10px;
  
  

}
#Isaiah {
  width: 300px;
  padding-left: 1000px;
  border: #ac7b84;
  border-style: solid;
}
#staff {
  width: 300px;
  padding-left: 1000px;
  border: #ac7b84;
  border-style: solid;
  
}
.ul {
  font-weight: bold;
}
#FAQ {
  width: 300px;
  border: #ac7b84;
  border-style: solid;
  padding: 10px;
  
}
#Phone { 
  width: 300px;
  padding: 10px;
  border: #ac7b84;
  border-style: solid;
}
/* Dropdown Button */
.dropbtn {
  background-color: #5a7d7c;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5a7d7c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #dadff7;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ac7b84;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ac7b84;}
